MCP_SERVER_NAME=FC-MCP-Server
MCP_SERVER_VERSION=1.0.0

IRIS_HOSTNAME=localhost
IRIS_PORT=1972
IRIS_NAMESPACE=USER
IRIS_USERNAME=_SYSTEM
IRIS_PASSWORD=SYS

ADO_ENABLED=false
AZURE_DEVOPS_ORG_URL=https://dev.azure.com/mi-organizacion
AZURE_DEVOPS_PAT=tu-pat-aqui
